-e git+https://github.com/Bhargavvvv2912/moviepy_AURA@3a4f062ff16cd2de33854e90a574bffd57c35a03#egg=moviepy
Pillow==12.1.0
attrs==25.4.0
decorator==5.2.1
imageio-ffmpeg==0.6.0
imageio==2.31.1
iniconfig==2.3.0
numpy==2.2.6
opencv-python-headless==4.13.0.90
packaging==26.0
pluggy==1.6.0
proglog==0.1.12
py==1.11.0
pytest==9.0.2
python-dotenv==1.2.1
toml==0.10.2
tqdm==4.67.2